.services-container {
  background-color: #0f172b;
  display: flex;
  justify-content: center;
  position: relative;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 64px;
  /* max-width: 1280px; */
  overflow: hidden;
}

h2 {
  font-size: 45px;
  margin: 0;
  color: #fff;
  z-index: 1;
}
p {
  z-index: 1;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.description {
  font-size: 18px;
  color: #90a1b9;
}

.cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: center;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.card h3 {
  color: #fff;
}

.dots-bg {
  position: absolute;
  inset: 0;
  z-index: 0;

  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 1px,
    transparent 1px
  );
  background-size: 40px 40px;
}
