.button-social {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.butt-social {
  width: 48px;
  height: 48px;
  border-radius: 14px;
  background-color: #1d293d;
  cursor: pointer;
  border: none;
  transform: rotate(0deg) scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.butt-social svg {
  width: 24px;
  height: 24px;
  border: #fff;
}

.butt-social svg path {
  transition: 0.2s;
}

.butt-social:hover svg path {
  stroke: white;
}


