.floating-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.floating-item {
  position: absolute;
  bottom: -50px;
  color: rgba(25, 21, 83, 0.795);
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  white-space: nowrap;
  filter: blur(0.3px);
  mix-blend-mode: screen;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}


